table.nf(style="font-size: 0.55em")
	thead.nf
		th.nf Algorithm
		th.nf Success
			br
			div(style="font-size: 0.5em") Higher &rarr; better
		th.nf Func Eval
			br
			div(style="font-size: 0.5em") Lower &rarr; better
	tbody.nf
		tr.nf
			td.nf MVPA (Most Valuable Player Algorithm)
			td.nf(style="color: green") 77.59
			td.nf 1273.8
		tr.nf
			td.nf DE (Differential Evolution)
			td.nf 74.82
			td.nf 1664
		tr.nf
			td.nf ABC (Artificial Bee Colony)
			td.nf 62.39
			td.nf 2062.3
		tr.nf
			td.nf TLBO (Teaching–Learning-Based Optimization)
			td.nf 46.91
			td.nf 2902.9
		tr.nf
			td.nf PSO (Particle Swarm Optimization)
			td.nf 73.66
			td.nf 2370.2
		tr.nf
			td.nf BH (Black Hole)
			td.nf 45.54
			td.nf 1466.3
		tr.nf
			td.nf LCA (League Championship Algorithm)
			td.nf 44.41
			td.nf 2582.9
		tr.nf
			td.nf EM (Electromagnetism-like mechanism)
			td.nf 15.66
			td.nf 2049.7
		tr.nf
			td.nf DSA (Differential Search Algorithm)
			td.nf 30.61
			td.nf 3379.5
		tr.nf
			td.nf GA (Genetic Algorithm)
			td.nf 16.07
			td.nf 254.6
		tr.nf
			td.nf SA (Simulated Annealing)
			td.nf 10.71
			td.nf 1843.4
		tr.nf
			td.nf GSA (Gravitational Search Algorithm)
			td.nf 11.62
			td.nf(style="color: green") 976
		tr.nf
			td.nf HS (Harmony Search)
			td.nf 13.84
			td.nf 3179.3
		tr.nf
			td.nf FA (Firefly Algorithm)
			td.nf 13.03
			td.nf 1255