extends ../../backend/_layout.jade

block title
	div Optimization in Sports (MVPA)
block presenter
	div Ahmed Thahir (2020A7PS0198U)<br>Anmol Kumar (2020A7PS0221U)

block content
	section.cover(data="work.jpg")
		h1 Introduction
	section
		h1 MVP Algorithm
		ul
			li Most Valuable Player
			li Team Sports
			li Players
			ul
				li collectively 
					span $\to$ championship
				li individually 
					span $\to$ MVP trophy
			li Applied in other fields

	section
		h1 Optimization
		table
			thead
				th.nf
				th Classical
				th Metaheuristic
			tbody
				tr
					td Optimum Solution?
					td ✅
					td Not necessary
				tr
					td Fast?
					td ❌
					td ✅
				tr
					td General?
					td ❌
					td ✅
		
		aside.
			- Optimization involves selection of one/more ‘optimal’ elements to maximize/minimize an objective function, subject to certain maximum/minimum constraints
			- Classic algorithms are deterministic, but do not work well if there exists discontinuities in obj()
			- Heuristic: Problem-solving method that is sufficient for quick, short-term solutions/approximations
			- Meta-Heuristic: Problem-independent heuristic algorithm designed to find, generate or select a heuristic
			- Metaheuristics do not guarantee that most optimumu are found, but they cope well with challenging problems
			- Nature-based algo: Animal behavioral patterns, genetic inheritance patterns, natural events, and human social behavior are a few examples of sources of inspiration

	section.cover(data="summary.jpg")
		h1 Summary of Papers
	section
		table(style="font-size: 0.5em")
			thead
				th.nf Paper Title
				th.nf Summary
			tbody
				tr.f
					td.nf Optimization Algorithm of Sports Big Data Industry Architecture ...
					td.nf Develops an optimization model and examines the optimization technique of the sports big data industry architecture based on fuzzy clustering. As a result, a few countermeasures are suggested, including resolving the issue of sports big data storage, enhancing big data processing and service capabilities, introducing advanced data processing talents, establishing scientific research teams, safeguarding personal information, and developing sports joint innovation research.
				tr.f
					td.nf Soccer-Inspired Metaheuristics
					td.nf Shows that the number of techniques drawing influence from soccer principles has increased significantly over the past few years. Reviews the state soccer-inspired class of metaheuristics, highlighting the literature's use of them.
				tr.f
					td.nf Data-driven approach to predicting most valuable player in a game
					td.nf Suggests a data-driven strategy for measuring sports team performance, based on the weighted aggregate of statistical markers (such as Principal Component Analysis), and meta-heuristic study to balance the traits and pick the MVPs in the best way possible
	section
		table(style="font-size: 0.5em")
			thead
				th.nf Paper Title
				th.nf Summary
			tbody
				tr.f
					td.nf Meta-heuristics meet sports
					td.nf Found 7 areas where meta-heuristics were applied in sports research: team selection, ideal lineups, sports equipment optimization, scheduling and ranking, performance analysis, sports predictions, and player tracking. It revealed: (a) meta-heuristics have been widely used in the sports of cricket and soccer; and (b) the drawbacks and difficulties of using meta-heuristics in sports
				tr.f
					td.nf A Development framework for decision support systems
					td.nf Sports contexts, such as scheduling optimization, skill evaluation and categorization, decision-making assessment, talent discovery and team selection, or injury risk assessment, have seen an increase in the use of decision support systems. This paper suggests a framework for developing decision support systems for use specifically in high-performance sport, drawing on a range of literature sources. It suggests three different standards for this objective: 1) Contentment with the context 2) Productivity and Process Effectiveness 3) Feasibility 4) Delivered knowledge 5) Decisional guidance 6) Data quality are the six distinct factors that support these criteria.


	section.cover(data="applications.jpg")
		h1 Applications
	section
		h1 Applications
		ul
			li Most Valuable Player
			li Team Selection
			li Equipment Optimization
			li Scheduling & Ranking
			li Other fields
			ul
				li Cost Minimization
				li Sales Maximization
	
	section.cover(data="equations.jpg")
		h1 Relevant Equations
	section
		h1 Relevant Equations
		ul
			li(style="font-size: 0.8em") $P_i = [ S_{i, 1} \quad S_{i, 2} \quad \dots \quad S_{i, \text{ProblemSize}}]$
			li(style="font-size: 0.8em").
				$\text{Team}_i = \begin{bmatrix}
				P_1 \\
				P_2 \\
				\vdots \\
				P_\text{PlayersSize}
				\end{bmatrix}$
			li(style="font-size: 0.6em").
				$\begin{bmatrix}
				S_{1, 1} & S_{1, 2} & \dots & S_{i, \text{ProblemSize}} \\
				S_{2, 1} & S_{2, 2} & \dots & S_{i, \text{ProblemSize}}\\
				\vdots & \vdots & \dots & \vdots \\
				S_{\text{PlayersSize}, 1} & S_{\text{PlayersSize}, 2} & \dots & S_{\text{PlayersSize}, \text{ProblemSize}}\\
				\end{bmatrix}$
			li(style="font-size: 0.8em") Obj() $= \sum \text{Skill}_i^2$
		aside.
			- S = Skill
	
	section.cover(data="algorithm.jpg")
		h1 Algorithm
	section
		.code.pseudocode.full(
			lines="1-6|8|10-13|15-17|19|20|21-23|25-27|29-31|33-35|37-40|41-44|46|47-49|50-52|54-55|56-57|59|61-62|64-66|68-71|73|75"
		)
			include _pseudocode.jade
		aside.
			- TeamsSize not necessarily divisor of PlayersSize
			- Changing population size $\to$ no need to change number of teams’ every time since the algorithm can handle this issue

			- franchise player = best player on team
			- MVP = best player of league

			- every player aims to be the team’s franchise player and the league’s MVP. Thus, he tries to improve his skills (in training for example) compared to his team’s franchise player and to the league’s MVP.
			- the constant need not be 2. However, 2 has been found to be ideal after many tests.
			- rand is a uniformly distributed random number between 0 and 1. We can use other random variables such as normal dist also

			2 questions
			1. What is the probability that a team will win?
			2. Which team actually wins?
				- this is due to randomness in sport
				- randomness is lower in higher-scoring sports
	section(data="flowchart.svg")

	section.cover(data="time_complexity.jpg")
		h1 Time Complexity
	section
		div.f Let
			span   $m =$ MaxNFix
			span , $n =$ TeamsSize
			span , $k =$ PlayersSize
			span , $s =$ ProblemSize
		ul.f Complexity (Worst Case = Average Case = Best Case)
			li(style="font-size: 0.9em") $k + m \left( 2n + \frac{4k}{3} + 2s + 29 \right)$
			li(style="font-size: 0.9em") $\approx k + m(n+k+s)$
			li Big $O$ 
				span = 
					mark $O( \ \ m(n+k+s) \ \ )$
		aside.
			- k = alloting players to teams
			- m = outer for loop
			- k = individual competition
			- 2n = calculating normalized fitness
			- constant values for 
			- k/3 = elitism
	
	section.cover(data="numerical.jpg")
		h1 Numerical Examples
	section
		h1 Initialization
		ul
			li ObjFunction $= \sum_{i=1}^n x_i$
			li ProblemSize = 2 (dimensions)
			li Bounds
			ul
				li $[0 \le S_1 \le 100]$
				li $[0 \le S_2 \le 100]$
			li PlayersSize = 15
			li TeamsSize = 3
			li MaxNFix = 2
	section
		table(style="font-size: 0.5em")
			thead
				tr
					th.nf Player
					th.nf Shooting
					th.nf Passing
					th.nf Fitness $= \sum s_i$
			tbody
				tr
					td.nf 1
					td.nf 81
					td.nf 15
					td.nf 96
				tr
					td.nf 2
					td.nf 39
					td.nf 37
					td.nf 76
				tr
					td.nf 3
					td.nf 16
					td.nf 89
					td.nf 105
				tr
					td.nf 4
					td.nf 47
					td.nf 61
					td.nf 108
				tr
					td.nf 5
					td.nf 15
					td.nf 18
					td.nf 33
				tr
					td.nf 6
					td.nf 84
					td.nf 50
					td.nf 134
				tr
					td.nf 7
					td.nf 12
					td.nf 28
					td.nf 40
				tr
					td.nf 8
					td.nf 38
					td.nf 26
					td.nf 64
				tr
					td.nf 9
					td.nf 62
					td.nf 47
					td.nf 109
				tr
					td.nf 10
					td.nf 32
					td.nf 50
					td.nf 82
				tr
					td.nf 11
					td.nf 71
					td.nf 26
					td.nf 97
				tr
					td.nf 12
					td.nf 54
					td.nf 67
					td.nf 121
				tr
					td.nf 13
					td.nf 12
					td.nf 90
					td.nf 102
				tr
					td.nf 14
					td.nf 17
					td.nf 92
					td.nf 109
				tr
					td.nf 15
					td.nf 78
					td.nf 81
					td.nf 159
	section.center
		a(
			href="https://docs.google.com/spreadsheets/d/1TVvAim4VLoZodsnkkOTAUFmKhKsyd0jVpaz-lLOvmnE/edit?usp=sharing",
			fallback="",
			target="_blank"
		) Google Sheet Demo
	section
		h1 Initialization
		ul
			li ObjFunction $= \sum_{i=1}^n {x_i}^2$
			li ProblemSize = 2 (dimensions)
			li Bounds
			ul
				li $[-5.12 \le S_1 \le 5.12]$
				li $[-5.12 \le S_2 \le 5.12]$
			li PlayersSize = 20
			li TeamsSize = 5
			li MaxNFix = 10
	section(data="numerical_1.png")
	section(data="numerical_2.png")
	section(data="numerical_3.png")
	section(data="numerical_4.png")
	
	section.cover(data="diagram.jpg")
		h1 Diagram
	section(data="diagram.svg")

	section.cover(data="comparison.jpg")
		h1 Comparison
	section
		include _comparison.jade
	section(data="performance.png")

	section.cover(data="references.jpg")
		h1 References
	section
		h1 References
		table(style="font-size: 0.5em")
			thead
				th.nf Title
				th.nf Author(s)
				th.nf DOI
			tbody
				tr
					td.nf Most Valuable Player Algorithm
					td.nf H.R.E.H. Bouchekara
					td.nf 10.1007/s12351-017-0320-y
				tr
					td.nf Optimization Algorithm of Sports Big Data Industry Architecture ...
					td.nf Wencan Fu & Honglin Li
					td.nf 10.1145/3510858.3511406
				tr
					td.nf Soccer-Inspired Metaheuristics
					td.nf Eneko Osaba & Xin-She Yang
					td.nf 10.1007/978-981-16-0662-5_5
				tr
					td.nf Data-driven approach to predicting most valuable player in a game
					td.nf Francisco, Catalina, Julio, Eusebio, Eduardo
					td.nf 10.1002/cmm4.1155
				tr
					td.nf Meta-heuristics meet sports
					td.nf M.K.A. Ariyaratne & R.M Silva
					td.nf 10.2478/ijcss-2022-0003
				tr
					td.nf A development framework for decision support systems
					td.nf Xavi Schelling & Samuel Robertson
					td.nf 10.2478/ijcss-2020-0001


	section.center
		h1.f(data-fragment-index="2") Thank You
		div Ahmed Thahir (2020A7PS0198U)<br/>Anmol Kumar (2020A7PS0221U)